<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.skydoves.landscapist.fresco">

  <uses-sdk android:targetSdkVersion="31" />

  <uses-permission android:name="android.permission.INTERNET" />

  <application android:name=".FrescoTestApplication">
    <activity
      android:name="androidx.activity.ComponentActivity"
      android:exported="false"
      tools:node="merge" />
  </application>

</manifest>
